{% extends 'base.html' %}

{% block title%}
修改密码页面
{% endblock %}

{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
        <h1>修改密码</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">个人信息</a></li>
          <li class="breadcrumb-item active">修改密码页面</li>
        </ol>
      </nav>
      </div>
      <h5>
        {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
      </h5>
    </div>
      <section class="section dashboard">
      <div class="row">
        <!-- Right side columns -->
        <div class="col-lg-12">

          <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">修改密码</h5>

              <div class="activity">
                    <form action="{% url 'changePassword' %}" method="POST">
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">原始密码</label>
                          <div class="col-sm-10">
                            <input type="password" name="oldPassword" class="form-control" placeholder="请输入原始密码">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">新密码</label>
                          <div class="col-sm-10">
                            <input type="password" name="newPassword" class="form-control" placeholder="请输入新密码">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">确认密码</label>
                          <div class="col-sm-10">
                            <input type="password" name="newPasswordConfirm" class="form-control" placeholder="请再次输入密码">
                          </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>
    </section>
{% endblock %}
{% block echarts %}
    <script>

    </script>
{% endblock %}