{% extends 'base.html' %}

{% block title%}
模型设置
{% endblock %}

{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
        <h1>模型设置</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">系统数据设置</a></li>
          <li class="breadcrumb-item active">模型设置页面</li>
        </ol>
      </nav>
      </div>
      <h5>
        {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
      </h5>
    </div>
      <section class="section dashboard">
      <div class="row">
        <!-- Right side columns -->
        <div class="col-lg-6">

          <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">TextCNN</h5>

              <div class="activity">
                    <form action="{% url 'modelSetting' %}" method="POST">
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">向量维度 (embedding)</label>
                          <div class="col-sm-3">
                            <input type="text" name="embedding_use" class="form-control" placeholder={{ textCNN_parameter.embedding }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="embedding" class="form-control" placeholder={{ textCNN_parameter.embedding }} >
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">迭代次数 (epoch)</label>
                          <div class="col-sm-3">
                            <input type="text" name="epoch_use" class="form-control" placeholder={{ textCNN_parameter.epoch }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="epoch" class="form-control" placeholder={{ textCNN_parameter.epoch }} >
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">学习率 (learning_rate)</label>
                          <div class="col-sm-3">
                            <input type="text" name="learning_rate_use" class="form-control" placeholder={{ textCNN_parameter.learning_rate }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="learning_rate" class="form-control" placeholder={{ textCNN_parameter.learning_rate }} >
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">句最大长度 (max_len)</label>
                          <div class="col-sm-3">
                            <input type="text" name="max_len_use" class="form-control" placeholder={{ textCNN_parameter.max_len }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="max_len" class="form-control" placeholder={{ textCNN_parameter.max_len }} >
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">批处理大小 (batch_size)</label>
                          <div class="col-sm-3">
                            <input type="text" name="batch_size_use" class="form-control" placeholder={{ textCNN_parameter.batch_size }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="batch_size" class="form-control" placeholder={{ textCNN_parameter.batch_size }} >
                          </div>
                        </div>
                        <br/>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary" id="myButton" onclick="disableButton()">重新训练</button>
                                <div class="spinner-border" role="status" id="loader" style="display: none; text-align: center;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </form>
              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->
        <!-- Right side columns -->
        <div class="col-lg-6">

          <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">模型评估</h5>

              <div class="activity">
                    <form action="{% url 'modelSetting' %}" method="POST">
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">准确率 (accuracy)</label>
                          <div class="col-sm-3">
                            <input type="text" name="update_time" class="form-control" placeholder={{ textCNN_parameter.accuracy }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="update_time" class="form-control" placeholder={{ model_rating.accuracy }} readonly>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">查准率 (precisions)</label>
                          <div class="col-sm-3">
                            <input type="text" name="update_time" class="form-control" placeholder={{ textCNN_parameter.precisions }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="update_time" class="form-control" placeholder={{ model_rating.precisions }} readonly>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">召回率 (recall)</label>
                          <div class="col-sm-3">
                            <input type="text" name="update_time" class="form-control" placeholder={{ textCNN_parameter.recall }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="update_time" class="form-control" placeholder={{ model_rating.recall }} readonly>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-4 col-form-label">特异度 (specificity)</label>
                          <div class="col-sm-3">
                            <input type="text" name="update_time" class="form-control" placeholder={{ textCNN_parameter.specificity }} readonly>
                          </div>
                            ->
                          <div class="col-sm-3">
                            <input type="text" name="update_time" class="form-control" placeholder={{ model_rating.specificity }} readonly>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <input type="hidden" name="update_model" class="form-control" value = 1>
                            <input type="hidden" name="old_id" class="form-control" value = {{ textCNN_parameter.id }}>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <input type="hidden" name="update_id" class="form-control" value = {{ model_rating.new_parameter.id }}>
                          </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary" {% if model_rating.accuracy == "待评估"  %} disabled {% endif %}>更新模型</button>
                            </div>
                        </div>
                    </form>
              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->
      </div>
    </section>
{% endblock %}
{% block echarts %}
    <script>
        function disableButton() {
            var button = document.getElementById('myButton');
            var loader = document.getElementById('loader');

            // 禁用按钮
            button.style.display = 'none';
            // 显示转圈圈图标
            loader.style.display = 'block';

        }
    </script>
{% endblock %}