{% extends 'base.html' %}

{% block title%}
景点信息
{% endblock %}

{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
        <h1>景点信息</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">景点数据展示</a></li>
          <li class="breadcrumb-item active">景点信息</li>
        </ol>
      </nav>
      </div>
      <h5>
        {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
      </h5>
    </div>
      <section class="section dashboard">
      <div class="row">

        <!-- Right side columns -->
        <div class="col-lg-12">

          <!-- Recent Activity -->
          <div class="card">
            <div class="card-body">
              <form method="POST" action="{% url 'tableData' %}" class="row g-3 needs-validation" novalidate>
                  <div class="col-8 d-flex align-items-center">
                      <input type="text" name="sightText" class="form-control me-2" id="sightText" {% if sightText != 'None' %}
                             value={{ sightText }}
                                {% endif %} required style="width: 800px;">
                      <button class="btn btn-primary" type="submit" style="width: 150px; height: 50px; font-size: 20px; white-space: nowrap; padding: 0 10px;">搜索</button>
                  </div>
              </form>
              <h5 class="card-title">景点数据表格</h5>

              <!-- Default Table -->
              <table class="table table-striped table-hover" >
                <thead>
                  <tr>
                    <th style="width:50px" scope="col">#</th>
                    <th style="width:180px" scope="col">景点名称</th>
                    <th style="width:250px" scope="col">景点地址</th>
                    <th style="width:90px" scope="col">景点热度</th>
                    <th style="width:90px" scope="col">景点评分</th>
                    <th style="width:90px" scope="col">评论数量</th>
                    <th style="width:100px" scope="col">开放状态</th>
                    <th style="width:100px" scope="col">图片</th>
                    <th style="width:100px" scope="col">操作</th>
                    <th style="width:100px" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in tableData %}
                  <tr>
                    <th scope="row">{{ i.id }}</th>
                    <td>{{ i.name }}</td>
                    <td><a href="#">{{ i.address }}</a></td>
                    <td style="text-align: center;"><span class="badge bg-danger">{{ i.heat_score }}</span></td>
                    <td style="text-align: center;"><span class="badge bg-success">{{ i.comment_score }}分</span></td>
                    <td style="color:orange;text-align: center;">{{ i.comment_count }}</td>
                    <td style="">{{ i.open_state }}</td>
                    <td>
                      <a href="{{ i.url }}">
                        <img style="width:100%" src = "{{ i.photos }}" alt="">
                      </a>
                    </td>
                    <td style="text-align: center;line-height:70px">
                      <a href="{% url 'getDetail' i.id %}" class="btn btn-primary waves-effect waves-light">详情</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    {{ html_list|safe }}
                  </ul>
                </nav>
              <!-- End Default Table Example -->
            </div>
          </div>

        </div><!-- End Right side columns -->

      </div>
    </section>
{% endblock %}
{% block echarts %}
    <script>

    </script>
{% endblock %}