{% extends 'base.html' %}

{% block title%}
定时任务设置
{% endblock %}

{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
        <h1>定时任务设置</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">数据表格</a></li>
          <li class="breadcrumb-item active">定时任务设置页面</li>
        </ol>
      </nav>
      </div>
      <h5>
        {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
      </h5>
    </div>
      <section class="section dashboard">
      <div class="row">
        <!-- Right side columns -->
        <div class="col-lg-12">

          <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">任务设置</h5>

              <div class="activity">
                    <form action="{% url 'taskSetting' %}" method="POST">
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">任务时间</label>
                          <div class="col-sm-10">
                            <input type="text" name="update_time" class="form-control" placeholder={{ taskInfo.update_time }}>
                            <input type="hidden" name="update_type" class="form-control" value = 0>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">评论更新类型</label>
                          <div class="col-sm-10">
                              <select class="form-select" name="spider_type" aria-label="Default select example">
                                <option {% if taskInfo.spider_type == 1  %}
                                selected
                                {% endif %} value="{{ 1 }}">特定景点</option>
                                <option {% if taskInfo.spider_type == 2  %}
                                selected
                                {% endif %} value="{{ 2 }}">全部景点</option>
                                <option {% if taskInfo.spider_type == 3  %}
                                selected
                                {% endif %} value="{{ 3 }}">不更新</option>
                              </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">情感标注类型</label>
                          <div class="col-sm-10">
                              <select class="form-select" name="machine_type" aria-label="Default select example">
                                <option {% if taskInfo.machine_type == 1  %}
                                selected
                                {% endif %} value="{{ 1 }}">新评论</option>
                                <option {% if taskInfo.machine_type == 2  %}
                                selected
                                {% endif %} value="{{ 2 }}">全部评论</option>
                                <option {% if taskInfo.machine_type == 3  %}
                                selected
                                {% endif %} value="{{ 3 }}">不更新</option>
                              </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
              </div>

            </div>
          </div><!-- End Recent Activity -->
          <!-- Recent Activity -->

        </div><!-- End Right side columns -->
          <div class="col-lg-6">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">手动触发</h5>

              <div class="activity">
                    <form action="{% url 'taskSetting' %}" method="POST">
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">评论更新</label>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">景点id</label>
                          <div class="col-sm-10">
                            <input type="text" name="sight_id" class="form-control" >
                            <input type="hidden" name="update_type" class="form-control" value = 1>
                          </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
              </div>

            </div>
          </div><!-- End Recent Activity -->
          </div>
          <div class="col-lg-6">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title"><br/></h5>

              <div class="activity">
                    <form action="{% url 'taskSetting' %}" method="POST">
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">情感标注</label>
                        </div>
                        <div class="row mb-3">
                          <label for="inputText" class="col-sm-2 col-form-label">景点id</label>
                          <div class="col-sm-10">
                            <input type="text" name="sight_id" class="form-control" >
                            <input type="hidden" name="update_type" class="form-control" value = 2>
                          </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
              </div>

            </div>
          </div><!-- End Recent Activity -->
          </div>
      </div>
    </section>
{% endblock %}
{% block echarts %}
    <script>

    </script>
{% endblock %}